$header_bg_color: #1F2534;
$header_text_color: #7A8291;
$header_text_active_color: #fff;
$header_padding: 20px;
$header_font_size: 30px;
$header_line_height: 30px;
$header_height: $header_font_size + $header_padding * 2;

$primary_font_family: 'Work Sans', sans-serif;
$secondary_font_family: 'Dosis', sans-serif;