$color_white: #FFFFFF;
$color_red: #F44336;
$color_grey: #C2C2C2;
$color_grey_dark: darken($color_grey, 35%);
$color_red_accent: #FF5454;
$color_red_accent_lighter: lighten($color_red_accent, 10%);
$color_red_accent_light: lighten($color_red_accent, 5%);
$color_red_accent_dark: darken($color_red_accent, 5%);
$color_red_accent_darker: darken($color_red_accent, 10%);

$header_bg_color: #1F2534;
$header_text_color: #7A8291;
$header_text_active_color: $color-white;
$header_padding: 20px;
$header_font_size: 30px;
$header_line_height: 30px;
$header_height: $header_font_size + $header_padding * 2;

$primary_font_family: 'Work Sans', sans-serif;
$secondary_font_family: 'Dosis', sans-serif;

$login_bg_main: #F8F8FA;
$color_text_input: #424242;
