@import '@/scss/variables.scss';

.button {
  width: 100%;
  background: $color_red_accent;
  color: $color_white;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.2rem;
  margin: 2rem 0;
  border: 0.1rem solid $color_red_accent;
  border-radius: 10rem;
  font-size: 2.2rem;
  font-family: $primary_font_family;
  text-align: center;
  outline: none;

  &:hover {
    background: $color_red;
    border-color: $color_red;
    cursor: pointer;
  }
}

@media (max-height: 400px) {
  .button {
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1.5rem;
  }
}
